{% for db in rails.databases %}  
{{ db.env }}:
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 50
  database: {{ db.database }}
  username: {{ db.username }}
  password: {{ db.password }}
{% endfor %}
