# -*- yaml -*-
# This is a sample file to use as a vault for staging
# It is just like the other non-vault files, and should contain the values you'll want for the staging environment
# To create the actual vault file, however, you'll need to use the ansible-vault command:
# (see   http://docs.ansible.com/ansible/playbooks_vault.html#creating-encrypted-files )
#
#     ansible-vault create staging
#
# NOTE!!! First you will be prompted for a password. THE PASSWORD USED WITH VAULT CURRENTLY MUST BE THE SAME FOR ALL FILES YOU WISH TO USE TOGETHER AT THE SAME TIME.
---
username: deploy
user_home: /home/{{ username }}

ufw_tcp_ports:
  - 22
  - 80

rails_app_name: "{{ app_name }}"
rails_path: "/var/www/{{ app_name }}"

postgresql_version: 9.3
postgresql_encoding: 'UTF-8'
postgresql_locale: 'en_US.UTF-8'
postgresql_admin_user: "postgres"
postgresql_default_auth_method: "trust"
postgresql_cluster_name: "main"
postgresql_cluster_reset: false

nodejs:
  path: /usr/bin/nodejs

git_url: git@github.com:ackmann-dickenson/{{ app_name }}.git
git_version: master
shared_path: '{{ rails_path }}/shared'
releases_path: '{{ rails_path }}/releases'
current_release_path: '{{ rails_path }}/current'
app_public_path: "{{ current_release_path }}/public"
app_config_path: "{{ current_release_path }}/config"
app_temp_path: "{{ current_release_path }}/tmp"
app_logs_path: "{{ current_release_path }}/log"
keep_releases: 5

nginx_sites:
  rails:
    - listen 80
    - server_name {{ app_name }}.staging
    - root {{ current_release_path }}
    - location / { try_files /maintenance.html $uri @proxy; }
    - location @proxy { include proxy_params; proxy_redirect off; proxy_pass http://rails; }
    - location @maintenance { rewrite ^(.*)$ /maintenance.html break; }
    - error_page 503 @maintenance
nginx_configs:
  upstream:
      - upstream rails { server 127.0.0.1:9292; }
